[submodule "003_basic_functions"]
	path = 003_basic_functions
	url = git@github.com:2425-3AHIF-WMC/ts-01-basics-functions-m-gruen.git
[submodule "004_basic_training"]
	path = 004_basic_training
	url = git@github.com:2425-3AHIF-WMC/ts-02-more-basics-training-m-gruen.git
[submodule "005_Arrays_and_functions"]
	path = 005_Arrays_and_functions
	url = git@github.com:2425-3AHIF-WMC/ts-03-arrays-and-functions-m-gruen.git
[submodule "007_Work_Schedule"]
	path = 007_Work_Schedule
	url = git@github.com:2425-3AHIF-WMC/ts-04-classes-m-gruen.git
[submodule "008_Spawning_Enemies"]
	path = 008_Spawning_Enemies
	url = git@github.com:2425-3AHIF-WMC/ts-05-interfaces-m-gruen.git
[submodule "010_Pokemon_API"]
	path = 010_Pokemon_API
	url = git@github.com:2425-3AHIF-WMC/ts-06-pokeapi-m-gruen.git
[submodule "012_Static_Webserver"]
	path = 012_Static_Webserver
	url = git@github.com:2425-3AHIF-WMC/api-01-static-hosting-m-gruen.git
[submodule "014_Garage"]
	path = 014_Garage
	url = git@github.com:2425-3AHIF-WMC/api-02-garage-m-gruen.git
[submodule "015_Quiz"]
	path = 015_Quiz
	url = git@github.com:2425-3AHIF-WMC/api-03-quiz-m-gruen.git
[submodule "016_Movie_Database"]
	path = 016_Movie_Database
	url = git@github.com:2425-3AHIF-WMC/api-04-moviedb-m-gruen.git
[submodule "017_Creating_DB_Tables"]
	path = 017_Creating_DB_Tables
	url = git@github.com:2425-3AHIF-WMC/db-01-flights-m-gruen.git
[submodule "018_Simple_Queries"]
	path = 018_Simple_Queries
	url = git@github.com:2425-3AHIF-WMC/db-02-queries-1-m-gruen.git
[submodule "019_Complex_Queries"]
	path = 019_Complex_Queries
	url = git@github.com:2425-3AHIF-WMC/db-03-queries-2-m-gruen.git
[submodule "020_self_hosted_e2e_messenger"]
	path = 020_self_hosted_e2e_messenger
	url = git@github.com:2425-3AHIF-WMC/self-hosted-e2e-messenger.git
[submodule "021_Flight_Management"]
	path = 021_Flight_Management
	url = git@github.com:2425-3AHIF-WMC/db-04-flight-mgmt-m-gruen.git
